.blogmain {
    min-height: calc(100vh - 250px);
    height: fit-content;
    position: relative;
    font-family: var(--main-font); 
    padding: 40px;
}
.blogmain .monkey {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.blogmain .element{
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    position: relative;
}
.blogmain .element p {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
.blogmain .element .content {
    color: white;
    margin-top: 15px;
}
.blogmain .element .title {
    color: white;
    font-family: var(--main-font); 
    font-size: 40px;
}
.blogmain .prispevky {
    width: 100%;
    margin-top: 15px;
}
.blogmain a {
    text-decoration: none;
}
.content a {
    color: #57cbff;
}
.blogmain .prispevky .prispevek {
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.blogmain .prispevky .prispevek .info {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    margin-top: 2px;
    font-size: 20px;
}
.blogmain .prispevky .prispevek .nadpis {
    font-size: 35px;
}
.blogmain .prispevky .prispevek .nadpis .text {
    font-size: 25px;
}