.mainlegal {
    background-color: #040615;
    min-height: calc(100vh - 200px);
    padding: 20px;
    padding-top: 60px;
    color: white;
    font-family: "Inter","San Francisco";
}
.mainlegal a {
    color: rgb(108, 189, 216)
}
.cookiepolicy {
    margin-top: 40px;
}
h1,h2,h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}