.techmologieMain {
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
}
.techmologieMain .element {
    width: 1200px;
    height: calc(100% - 80px);
    max-width: 1200px;
    margin-top: 80px;
    color: white;
    font-family: var(--main-font);
    padding: 10px;
}
.techmologieMain .element .title {
    font-size: 40px;
    margin-top: 20px;
}
.techmologieMain .element p {
    font-size: 17px;
    margin-top: 5px;
}
.techmologieMain .list {
    margin: 10px;
}
.techmologieMain .list a {
    margin: 5px;
    cursor: pointer;
}
.techmologieMain .list a img {
    height: 60px;
    transform: scale(0.9);
    transition: ease 0.2s transform;
}