footer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: var(--main-font);
    gap: 2px;
    position: relative;
}
footer .gradient {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
    background: radial-gradient(80.10000000000001% 100% at 50% 0%,rgba(38,140,245,.25) 0%,rgba(38,140,245,0) 100%);
    transform: rotate(180deg);
    z-index: auto;
}
footer .elements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
footer .elements .left {
    height: 100%;
    max-width: 450px;
    width: 60%;
    float: left;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
footer .elements .left .copyright{
    margin-top: auto;
}
footer .elements .right {
    height: 100%;
    max-width: 300px;
    width: 40%;
    float: left;
    position: relative;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

footer a {
    color: #57cbff;
    text-decoration: none;
}
footer h2 {
    margin-top: 15px;
}
footer .languageSelect {
    display: flex;
    gap: 10px
}
footer .pagesSelect {
    display: flex;
    gap: 10px
}
footer .legal {
    margin-top: auto;
}
@media only screen and (max-width: 750px) {
    footer .name {
        margin-top: auto;
    }
    footer .languagechange {
        margin-top: auto;
    }
    footer .pages {
        display: none;
    }
    footer .kontakty {
        display: none;
    }
}