.redirectmain {
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: var(--main-font); 
}
.redirectmain .message {
    color: white; 
    font-weight: normal
}
.redirectmain .footerUrlshotener {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.redirectmain a {
    color: white;
    text-decoration: none;
}