.redirectmain {
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redirectmain .message {
    color: white; 
    font-family: var(--main-font); 
    font-weight: normal
}