.mainCloud {
  width: 100%;
  min-height: calc(100vh - 300px);
  margin-top: 50px;
  color: white;
  font-family: var(--main-font);
  display: none;
  text-align: center;
}
.content {
  display: block;
}
.mainCloud a {
  color: rgb(87, 203, 255);
  text-decoration: none;
}
.mainCloud > div {
  width: 100%;
  height: 100%;
  display: flex;
}
.mainCloud .aboutmeStarting {
  justify-content: center;
}
.mainCloud .aboutmeStarting .aboutmeContent {
  height: 100%;
  max-width: 800px;
  width: 100%;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 87px;
  top: 20px;
  transition: ease 0.5s 0.3s all;
  position: relative;
}
.mainCloud .aboutmeStarting .aboutmeContent.show {
  top: 0px;
  opacity: 1;
}
.mainCloud .aboutmeStarting .aboutmeContent h1 {
  font-size: 50px;
  margin-top: 20px;
}
.mainCloud .aboutmeStarting .aboutmeContent h2 {
  font-size: 30px;
  margin-top: 20px;
}
.mainCloud .aboutmeStarting .aboutmeContent p {
  margin-top: 20px;
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
